.herbal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
    box-sizing: border-box;
    background-image: url('../assets/images/background2.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    
    
    
}
.button{
    width: 10%;
    height: 10%;
    border: aqua solid 1px;
    border-radius: 8px;
}
.herbal-info{
    display: flex;
    flex: 2;
    border: aqua solid 1px;
    box-sizing: border-box; /* 确保padding计入总宽高 */
}


.herbal-contant{
    display: flex;
    border: 2pt rgb(192, 127, 127) solid;
    flex: 5;
}
.herbal-date{
    flex: 2;
    border: rgb(84, 203, 80) solid 2px;
    
}
.title{
    flex: 3;
    font-size: 100px;
    font-weight: bold;
    color: #fdfdfd;
    font-family: 'LiangPeiShengXiaoJian',sans-serif;   
}

.herbal-small{
    flex: 1;
    border: rgb(136, 136, 223) solid 1px;

}
.herbal-Classification{
    flex: 2;
    border: rgb(9, 9, 236) solid 1px;
}



@font-face {
    font-family: 'LiangPeiShengXiaoJian';
    src: url('../assets/fonts/LiangPeiShengXiaoJian-1.ttf') format('truetype');

  }
  

.herbal-echarts {
    flex: 1;
    border: rgb(136, 136, 223) solid 1px;
}
.herbal-img {
flex: 5.3;
border: rgb(168, 249, 6) solid 1px;
}

.herbal-detail {
    flex: 4.7;
    display: flex;
    flex-direction: column;
    border: rgb(145, 4, 4) solid 1px;
}

.herbal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.herbal-title{
    display: flex;
    width: 100%;
    height: 20%;
    opacity: 1;
    flex: 2.2;
    border-radius: 20px;
    background: rgba(158, 173, 128, 0.41);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.herbal-allInfor{
    flex: 5;
    display: flex;
    flex-direction: column;
    border: rgb(192, 127, 127) solid 2px;
}
.herbal-makeways{
    flex: 2.8;
}


/* 媒体查询，适应小屏幕 */
@media screen and (max-width: 768px) {
    .herbal {
        flex-direction: column;
    }

   
}